body {
background: linear-gradient(109.6deg, rgb(151, 213, 255) 11.2%, rgb(255, 155, 185) 91.1%);
}

input[type="checkbox"] {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* Dark theme - start */

.dark {
background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
}

.dark .weather-app {
    background: #000000;
    color: #fff;
}

.dark .icon-sun {
    display: none;
}

.dark .icon-moon {
    display: block;
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(18deg) brightness(104%) contrast(102%);
}

.dark .form-control {
    background: #ffffffc5;
    color: rgb(156, 59, 169);
}

.dark .search-button {
    background: rgb(156, 59, 169);
}

.dark .search-button:hover {
    background: rgb(156, 59, 169);
    opacity: 0.6;
}

.dark .city {
    color: #fff;
}

.dark .temp-display {
    color: #fff;
}

.dark .weather-condition {
    color: rgb(156, 59, 169);
}

.dark .weather-description {
    color: rgb(156, 59, 169);
}

.dark .forecast-temp-max {
    color: rgb(156, 59, 169);
}

.dark .footnote {
    color: #ebe9e9;
}

.dark .footnote-link {
    color: rgb(179, 67, 194);
}


/* Dark theme - end */

.app {
    margin: 60px auto;
    max-width: 800px;
}

.weather-app {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 30px 50px rgba(65, 50, 100, .08);
        color: #878787;
        font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
        padding: 40px;
        margin: 50px;
}

.app-title {
    margin-bottom: 20px;
}

.icons:hover {
    cursor: pointer;
}

.icon-sun {
    display: block;
}

.icon-moon {
    display: none;
}

.title {
    text-align: center;
}

.form-control {
        background: #f9f7fe;
        border: none;
        border-radius: 6px;
        color: rgba(39, 33, 66, .4);
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        padding: 15px 20px;
}

.search-button {
        background: #53AFFF;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 700;
        height: 50px;
        width: 100%;
        border-radius: 7px;     
}

.search-button:hover {
        background: #53AFFF;
        opacity: 0.6;
}

.weather-panel {
padding-top: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.city {
    color: #272142;
    font-size: 32px;
    font-weight: 700;
}

.temp-display {
        color: #272142;
        font-size: 80px;
        font-weight: 700;
        line-height: 1;
        text-align: end;
}

.temp-display .temp-icon {
    max-width: 65px;
    margin: 0 8px 20px 0;
}

.temp-display .temp-unit {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -45px;
    padding-left: 8px;
}

.weather-condition {
    color: #53AFFF;
}

.weather-description {
    color: #53AFFF;
    text-transform: capitalize;
}

.forecast {
    margin-top: 30px;
    text-align: center;
}

.forecast-date {
    font-size: 16px;
    opacity: 0.7;
}

.forecast-temp {
    font-size: 14px;
}

.forecast-temp-max {
    color: #53AFFF;
    font-weight: 600;
}

.forecast-temp-min {
    opacity: 0.7;
}

.footnote {
    display: block;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
    color:#565656;
}

.footnote-link {
    color: #2497fb;
}