body {
background-color: #F9F7FE;
}

h1 {
        color: #272142;
        font-size: 38px;
        font-weight: 700;
        margin: 20px 0 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.app {
margin: 60px auto;
max-width: 800px;
}

.app-title {
    margin-top: 0;
}

.weather-app {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 30px 50px rgba(65, 50, 100, .08);
        color: #878787;
        font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
        padding: 40px;
        margin: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.temp-display {
        color: #212121;
        font-size: 80px;
        font-weight: 700;
        line-height: 1;
        text-align: end;
}

.temp-display .temp-icon {
    max-width: 60px;
    margin: 0 8px 8px 0;
}

.temp-display .temp-units {
    font-size: 18px;
    position: relative;
    top: -38px;
    padding-left: 8px;
}

.weather-description {
text-transform: capitalize;
}

.weather-condition {
    color: blueviolet;
}

.footnote {
    display: block;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
}